.font-twenty-two {font-size: 22px;}
.font-twenty {font-size: 20px;} 
.products-detail {width: 100%;border-bottom: #333333 solid 2px;margin: 15px 0px 15px 0px;}
.img-pro {width: 300px;height: 300px;}
.img-details {width: 120px;height: 120px;}
.info-pro {margin-top: 15px;}
.description {margin-bottom: 50px;}